
/gerenciador_tarefas/build/app/intermediates/stripped_native_libs/debug/out/lib/arm64-v8a
/gerenciador_tarefas/build/app/outputs/apk/debug
/gerenciador_tarefas/build/app/outputs/flutter-apk
/gerenciador_tarefas/build/app/outputs/apk/debug
/gerenciador_tarefas/build/app/intermediates/merged_native_libs/debug/out
gerenciador_tarefas/build/app/outputs/apk/debug/app-debug.apk
/gerenciador_tarefas/build/app/outputs
/gerenciador_tarefas/build/app
